@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');


body{
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
  color: white;
  background: black;
}
.container{
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.browser-contaier{
  width: 80%;
}
.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.ac{
  align-items: center;
}
.as{
  align-items: start;
}
.warp{
  flex-wrap: wrap;
}
.date{
  font-size: 20px;
}
.Time{
   font-family: "DynaPuff", system-ui;
   font-size: 80px;
   font-weight: 700;
}
input{
  border: none;
  outline: none;
}
.Searchbar{
  border: 1px solid rgba(48, 48, 48, 0.775);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
.title{
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
}
.Nasa-news-card{
  width: 50%;
  border: 1px solid rgba(48, 48, 48, 0.775);
  border-radius: 12px;
  padding: 10px;
}
.news-title{
  font-style: bold;
  width: 80%;
  text-overflow: ellipsis;
}
.news-context{
  width: 90%;
  text-overflow: ellipsis;
}
.functionable-bar{
  width:20%;
  border: 1px solid rgba(48, 48, 48, 0.775);
  border-radius: 12px;
  padding: 15px;

}
.btn{
  width: 20px;
  height: 20px;
  background: #3f3f3f85;
  transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;&:hover{
    background: #3f3f3fa1;
  }
}
.shortcuttab,.to-do-contaier{
  height: 50%;
}
.bb{
  border-bottom: 0.8px solid rgba(48, 48, 48, 0.775);
  font-weight: 700;
}
.shortcut{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.shortcut-img{
  width: 100%;
}

.border-dd{
  border-style: dashed;
  border: 1px solid rgba(48, 48, 48, 0.775);
}
.cb{
  border-radius: 12px;
  
}